body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 980px;
}

.welcome-hero {
    position: relative;
    background: url(../Uploads/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    height: 800px;
    z-index: 1;
}

    .welcome-hero:before {
        position: absolute;
        content: " ";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(65,73,89,.65);
        z-index: -1;
    }

.welcome-hero-txt {
    padding-top: 155px;
}

    .welcome-hero-txt h2 {
        font-size: 48px;
        color: #fff;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 2.4px;
        line-height: 1.4;
    }

    .welcome-hero-txt p {
        font-size: 18px;
        color: #fcfcfc;
        margin-top: 25px;
    }

.welcome-hero-serch-box {
    margin-top: 78px;
    margin-left: 200px;
    margin-right: 100px;
    display: flex;
}

.welcome-hero-form {
    display: flex;
    background: #fff;
    height: 70px;
    border-radius: 3px;
    width: 85%;
}

.single-welcome-hero-form {
    
    background: #fff;
    height: 70px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    padding: 0 30px;
}

    

    .single-welcome-hero-form input {
        margin-left: 40px;
        height: 70px;
        width: 900px;
        border: 0;
        background: transparent;
    }

        .single-welcome-hero-form input[type="text"] {
            font-size: 14px;
            color: #859098;
            text-transform: capitalize;
            font-weight: 500;
        }


.welcome-hero-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #fff;
    width: 170px;
    height: 70px;
    background: #ff545a;
    text-transform: capitalize;
    margin-left: 30px;
    border-radius: 3px;
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -ms-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear;
}